:root {
  --background: rgb(22, 22, 22);
  --background-secondary: rgb(36, 36, 36);
  --color-main: rgb(231, 231, 231);
  --color-secondary: rgb(255, 255, 255);
  --color-accent: rgb(255, 100, 44);
  --color-placeholder: rgb(173, 173, 173);
  --color-checked: rgb(112, 112, 112);
  --width-list: 700px;
  --width-items: 600px;
  --border-radius-circle: 100%;
  --border-radius-detail: 20px;
  --border-style-active: rgb(255, 255, 255) 1px solid;
  --border-style-accent: rgb(255, 100, 44) 1px solid;
}

/* GENERAL */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: var(--background);
  color: var(--color-main);
  font-family: "Poppins";
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-list);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
p,
li {
  margin: 0;
  padding: 0;
}
/* TODO LIST */

.title-app {
  font-family: "PoppinsBold";
  font-size: 3rem;
}
.input-filter {
  font-size: 1.5rem;
  text-align: center;
  width: var(--width-items);
  padding: 30px 10px;
}

.todo-list {
  margin: 30px 10px 10px 10px;
}

/* TODO ITEM */

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  width: var(--width-items);
  font-size: 1.4rem;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-detail);
}

.list-item-text {
  padding: 0.5rem;
}

.list-item-text-checked {
  color: var(--color-checked);
  text-decoration: line-through;
}

.todo-counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px 0;
  padding: 30px 0;
  min-width: var(--width-items);
  border: white solid 1px;
  border-radius: var(--border-radius-detail);
}

.todo-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
  background-color: var(--color-accent);
  color: var(--background);
  border-radius: var(--border-radius-circle);
  font-family: "PoppinsBold";
  font-size: 3rem;
}

input {
  background-color: var(--background-secondary);
  color: var(--color-secondary);
  border: none;
  border-radius: var(--border-radius-detail);
}
input::placeholder {
  color: var(--color-placeholder);
}

.add-new-item > input {
  margin-right: 20px;
}

.add-new-item > input,
.add-item-button {
  min-height: 70px;
  padding: 0 20px;
  font-size: 1.5rem;
}

.add-item-button {
  min-width: 70px;
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius-circle);
  text-align: center;
  cursor: pointer;
}

/* Input Edit */
.input-todo-edit {
  border-radius: 0%;
  border-bottom: var(--border-style-active);
  font-size: 1.4rem;
  padding: 10px;
  margin-left: 10px;
  /* center the div */
  /* margin-left: auto; */
  margin-right: auto;
  width: 70%;
}
.input-todo-edit:focus {
  outline: none;
}
.btn-edit {
  background: transparent;
  border: none;
  margin-left: 5px;
}
.btn-edit:hover {
  cursor: pointer;
}

/********* Loading Skeleton ***********/
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loading-todo {
  background-color: #d1d5db;
  height: 70px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  width: var(--width-items);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-detail);
}
